<div class="d-flex flex-column justify-content-center align-items-left">
  <div class="m-2">
    <h2>Recruitment task</h2>
  </div>
  <div class="m-2">
    <p>Write application in Angular. The People and About tabs are separated pages (router outlets):</p>
  </div>
  <div class="m-2">
    <ul>
      <li>People tab should display random user from randomuser.me API (photo and name). If
        user clicks the “New” button the data should be reloaded with new data from API. Also
        every 5 seconds data should be reloaded, but the timer should reset every time user
        clicks “New” button and timer should stops couting if user’s cursor is under photo, name
        or button (prevents from reloading data when for example user trying to copy name).</li>
      <li>About is a static page with text description of the recruitment task (you're currently
        reading it).</li>
    </ul>
  </div>
  <div class="m-2">
    <p>Both pages should looks similar to the attached graphics. Please focus on code readability and
      application performance (imagine that these are only 2 subpages of a huge application).</p>
    <br><br><br>
    <span class="text-secondary">Application should use the randomuser.me API.<br>
      See <a href="https://randomuser.me/documentation">https://randomuser.me/documentation</a> for more information.</span>
  </div>
</div>
