@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

countdown {
  position: absolute;
  top: 2px;
  left: 6px;
  color: burlywood;
  font-size: 12px;
}